<ion-view view-title="Dr Dicas | Pacientes Especiais">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in especial" type="item-text-wrap" href="#/tab/especial/{{chat.pk}}">
        <img src="img/icons/icon_6.png">
        <h2>{{chat.fields.titulo}}</h2>
        <p>{{chat.fields.texto | truncate: 150: '...' }}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>


      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
