/* Empty. Add your own CSS if you like */

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
  background-color: #2095c1;
  background: linear-gradient(0deg, #2095c1, #2095c1 50%, #2095c1 50%);
}

[nav-bar-transition="android"] [nav-bar="active"] .bar, [nav-bar-transition="android"] [nav-bar="entering"] .bar {
  background-color: #2095c1;
  background: linear-gradient(0deg, #2095c1, #2095c1 50%, #2095c1 50%);
}

.pane, .view {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    background-color: #FFF;
    overflow: hidden;
    top: 0px;
    width: 100%;
    padding-top: 50px;
}

.bar {
  height: 50px;
}

.bar.bar-header .button + .title {
    text-align: left;
    left: 35px;
    line-height: 48px;
}

.bar.bar-stable .title {
    color: #FFF;
    font-family: RobotoDraft,Roboto,"Helvetica Neue","Segoe UI",sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.tabs {
  border-color: #FFF;
  background-color: #e2fbff;
  height: 74px;
}

.tab-item {
    border-right: 1px #bad3d8 solid;
}

.tab-item-active {
  background-color: #FFF;
  border-top: 4px #60bde8 solid;
  border-right: 1px #bad3d8 solid;

}

.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
    padding: 10px;
}

.tabs-top > .tabs, .tabs.tabs-top {
    top: -10px;
    position: relative;
    padding-top: 0px;
    background-position: center bottom;
    border-top-width: 0px;
    border-bottom-width: 1px;
}

.list {
    position: relative;
    padding-top: 0px;
    padding-bottom: 350px;
    padding-left: 0px;
    margin-bottom: 20px;
}

.item p {
    color: #666;
    font-size: 11px;
    margin-bottom: 2px;
}

.item h2 {
    margin: 0px 0px 2px;
    font-size: 15px;
    font-weight: normal;
}

.has-tabs-top {
    top: 5px;
}

.box {
  height: auto;
}

.tabs .tab-item .icon.crianca {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 90%;
  background-image: url('../img/icons/icon_1.png');
  background-size:contain;
}

.tabs .tab-item .icon.crianca-active {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 90%;
  background-image: url('../img/icons/icon_1.png');
  background-size:contain;
}

.tabs .tab-item .icon.adultos {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 90%;
  background-image: url('../img/icons/icon_3.png');
  background-size:contain;
}

.tabs .tab-item .icon.adultos-active {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 90%;
  background-image: url('../img/icons/icon_3.png');
  background-size:contain;
}

.tabs .tab-item .icon.idosos {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 90%;
  background-image: url('../img/icons/icon_4.png');
  background-size:contain;
}

.tabs .tab-item .icon.idosos-active {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 90%;
  background-image: url('../img/icons/icon_4.png');
  background-size:contain;
}

.tabs .tab-item .icon.especiais {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 90%;
  background-image: url('../img/icons/icon_5.png');
  background-size:contain;
}

.tabs .tab-item .icon.especiais-active {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 90%;
  background-image: url('../img/icons/icon_5.png');
  background-size:contain;
}

.item-avatar .item-content .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-image, .item-avatar-left .item-content .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-image, .item-avatar-left > img:first-child, .item-avatar > img:first-child {
    border-radius: 50%;
    left: 16px;
    max-height: 40px;
    max-width: 48px;
}

p.texto {
    margin: 0px 0px 10px;
    padding-bottom: 350px;
}
